.ck .ucb-box .ucb-box-title.ck-placeholder:before {
	left: auto;
	right: auto;
}

.ck.ck-editor__editable_inline > .ucb-box:first-child, .ck.ck-editor__editable_inline > .ucb-box:last-child {
	margin-top: 1em;
}

.ck .ucb-box .ck-editor__nested-editable:focus {
	background-color: transparent;
}
