.ucb-icon {
	--ucb-icon-primary-color: currentColor;
	--ucb-icon-secondary-color: currentColor;
	--ucb-icon-filter: grayscale(100%) invert(100%) contrast(200%);
	display: inline-block;
	color: var(--ucb-icon-primary-color);
	text-align: center;
	box-sizing: content-box;
	line-height: .05em;
}

.ucb-icon.ucb-icon-alignment-left, .ucb-icon.ucb-icon-alignment-right {
	display: block;
}

.ucb-icon.ucb-icon-alignment-left {
	float: left;
	margin: .5rem;
	margin-left: 0;
}

.ucb-icon.ucb-icon-alignment-right {
	float: right;
	margin: .5rem;
	margin-right: 0;
}

.ucb-icon.ucb-icon-color-black {
	--ucb-icon-primary-color: #000;
	--ucb-icon-secondary-color: #FFF;
	--ucb-icon-filter: none;
}

.ucb-icon.ucb-icon-color-white {
	--ucb-icon-primary-color: #FFF;
	--ucb-icon-secondary-color: #000;
	--ucb-icon-filter: none;
}

.ucb-icon.ucb-icon-color-lightgray {
	--ucb-icon-primary-color: #ccc;
	--ucb-icon-secondary-color: #000;
	--ucb-icon-filter: none;
}

.ucb-icon.ucb-icon-color-darkgray {
	--ucb-icon-primary-color: #444;
	--ucb-icon-secondary-color: #FFF;
	--ucb-icon-filter: none;
}

.ucb-icon.ucb-icon-color-gold {
	--ucb-icon-primary-color: #cfb87c;
	--ucb-icon-secondary-color: #000;
	--ucb-icon-filter: none;
}

.ucb-icon.ucb-icon-style-square, .ucb-icon.ucb-icon-style-square-rounded, .ucb-icon.ucb-icon-style-circle {
	background-color: var(--ucb-icon-primary-color);
	width: 1em;
	height: 1em;
	vertical-align: top;
	padding: .5em;
}

.ucb-icon.ucb-icon-style-square svg, .ucb-icon.ucb-icon-style-square-rounded svg, .ucb-icon.ucb-icon-style-circle svg {
	display: inline-block;
}

.ucb-icon.ucb-icon-style-square path, .ucb-icon.ucb-icon-style-square-rounded path, .ucb-icon.ucb-icon-style-circle path,
.ucb-icon.ucb-icon-style-square:before, .ucb-icon.ucb-icon-style-square-rounded:before, .ucb-icon.ucb-icon-style-circle:before,
.ucb-icon.ucb-icon-style-square i:before, .ucb-icon.ucb-icon-style-square-rounded i:before, .ucb-icon.ucb-icon-style-circle i:before {
	color: var(--ucb-icon-secondary-color);
	-webkit-filter: var(--ucb-icon-filter);
	filter: var(--ucb-icon-filter);
}

.ucb-icon.ucb-icon-style-square svg, .ucb-icon.ucb-icon-style-square-rounded svg, .ucb-icon.ucb-icon-style-circle svg
.ucb-icon.ucb-icon-style-square-rounded {
	border-radius: 5px;
}

.ucb-icon.ucb-icon-style-circle {
	border-radius: 50%;
}
