{#
/**
 * @file Contains the template to display an embedded Google Calendar inserted onto a page using the Calendar CKEditor plugin.
 */
#}
<div class="{{ attributes.class }}">
  <iframe src="https://calendar.google.com/calendar/embed?{{ queryString }}" loading="lazy" referrerpolicy="no-referrer" border="0" scrolling="no"></iframe>
</div>
