{#
/**
 * @file Contains the template to display an embedded Google Map inserted onto a page using the Map CKEditor plugin.
 */
#}
<div class="{{ attributes.class }}">
  <iframe{{
    create_attribute({
      src: googleMyMapsParams ? 'https://www.google.com/maps/d/embed' ~ googleMyMapsParams : 'https://www.google.com/maps/embed?pb=' ~ mapLocation,
      loading: 'lazy',
      referrerpolicy: 'no-referrer'
    })
  }}></iframe>
</div>
