{#
/**
 * @file Contains the template to display an embedded Campus Map inserted onto a page using the Map CKEditor plugin.
 */
#}
<div class="{{ attributes.class }}" data-map-location="{{ mapLocation }}" style="background-image: url('https://staticmap.concept3d.com/map/static-map/?map=336&amp;loc={{ mapLocation }}&amp;scale=2')">
  <a href="https://www.colorado.edu/map/?id=336{{ mapLocation ? '#!m/' ~ mapLocation : '' }}">
    <span>View location on the Campus Map</span>
  </a>
</div>
